/*
font-family: 'Chakra Petch', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*ESTILOS GLOBAIS*/
.pagina {
    width: 90vw;
    
    height: 100vw;
    margin: auto;
}
button {
    cursor: pointer;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*ESTILOS CABEÇALHO*/
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 175px;
    
}
.cabecalho__logo {
    width: 100px;
    height: 100px;
}
.cabecalho__nome{
    font-size: 40pt;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 10px;
    font-weight: 400;
}

/*ESTILOS CONTEUDO*/

.conteudo {
    width: 100%;
    padding-top: 200px;
}
.conteudo__escrito{
    width: 75%;
    margin: auto;
}
.conteudo__titulo {
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 3.75rem;
}
.conteudo__descricao{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.875rem;
}
.conteudo__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}
.conteudo__form___email {
    display: inline-block;
    height: 1.2em;
    width: 35%;
    margin: 0 0 15px;
    padding: 1em 0.9375em;
    font-family: 'Roboto', sans-serif;
    color: #212326;
    font-size: 1em;
    box-shadow: 0 0 0 1px #3d4042;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ffffff;
    transition: padding 150ms;
    text-align: center;
}
.conteudo__form___botao {
    display: inline-block;
    width: 37.2%;
    padding: 1em 1.8125em;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.133;
    transition: 150ms ease;
    transition-property: background-color, border-color, box-shadow, color;
    text-align: center;
    text-decoration:  none;
    cursor: pointer;
       
}
.conteudo__form___botao:hover {
    color: white;
    background-color: black;
}
.conteudo__form___botao:visited {
    text-decoration: none;
}


.conteudo__form___aviso{
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 1em;
    font-weight:400;
    font-family:'Roboto', sans-serif;
    top: 0;
    color:#595a5a;
    
}
.conteudo__imagem{
    display: flex;
    justify-content: center;
}

/*SERVICOS */
.conteudo__servicos{
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
    margin-top: 40px;
    align-items: center;
    gap: 50px;
    border-radius: 15px;
}
.servicos__titulo___container{
    padding: 30px 0;
    font-family: 'PT Sans Caption', sans-serif;
    color:white;
}
.servicos__lista__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.servico{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servico__icon{
    width: 50px;
    height: 50px;
    position: right;
    padding-bottom: 15px;
    filter: invert(100%);

}
.servico__modelo{
    font-family: 'PT Sans Caption', sans-serif;
    color:white;
}
.servico__descricao{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:white;
}

/*SEU RITMO*/
.conteudo__ritmo{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: -50px;
}
.conteudo__ritmo___titulo{
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    padding-top: 100px;
}
.conteudo_ritmo___descricao{
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

/*FEATURES*/
.conteudo__features{
width: 100%;
display: flex;
margin-top: 100px;
flex-direction: column;
gap: 40px;
}
.feature{
width: 100%;
margin: auto;
}
.feature1{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.feature2{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.feature3{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.feature__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}
.feature__info___titulo{
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;

}
.feature__info___descricao{
width: 50%;
text-align: center;
font-size: 1.2rem;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: #3d4042;
}

.feature__info a:visited{
    text-decoration: none;
    color: black;
}
.feature__botao{
    display: inline-block;
    width: 50%;
    border-radius: 5px;
    border-color: rgb(97, 97, 97, 0.6) ;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.133;
    transition: 150ms ease;
    transition-property: background-color, border-color, box-shadow, color;
    text-align: center;
    padding: 7px 4px;
}
.feature__botao:hover{
    background-color: black;
    color: white;
    transition: 150ms ease;
    transition-property: background-color, border-color, box-shadow, color;
    text-decoration: none;
}

/*PARCERIAS*/
.parcerias__gerais{
    padding: 60px 0 0 0;
    margin: 30px 0;
}
.parcerias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

/*FINALIZACAO*/
.conteudo__finalizacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    width: 60%;
    margin: auto;
    padding-bottom: 70px;
    gap: 30px;
}
.finalizacao__botao{
    display: inline-block;
    width: 25%;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.6);
    background-color: black;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.133;
    transition: 350ms ease;
    transition-property: background-color, border-color, box-shadow, color;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px 5px;
};

.finalizacao__botao:hover{
    transform: scale(1.4);
    width: 28%;
    
}


/*FOOTER*/

.footer{
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    background-color: rgb(0, 0, 0);
}
.footer__container{
    width: 80%;
    margin: auto;
}
.footer_nav ul{
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.footer__conteudo{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
    padding-bottom: 15px;
}
.footer__conteudo__titulo{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    letter-spacing: 6px;
}

.footer_nav a{
    text-decoration: none;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-size: 14pt;
}

.footer__conteudo___primario{
    padding-top: 15px;
}
.footer__conteudo___secundario{
    margin-right: 300px;
    padding: 15px 10px;
}

.footer__conteudo___lista1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 70px;
    row-gap: 15px;
    margin-top: 40px;
}
.footer__conteudo___lista1 a{
    color: rgb(118, 118, 118);
    text-align: left;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    
}
.footer__conteudo___lista2{
    display: flex;
    flex-direction: column;
    row-gap: 32.5px;
    margin-top: 40px;
}
.footer__conteudo___lista2 a{
    color: rgb(118, 118, 118);
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

.footer__termos {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 5px;
}

.footer__termos a{
    font-size: 10pt;
    color: white;
    opacity: 0.8;
}


/*MEDIA QUERYS*/

/*480 px*/
@media screen and (max-width: 480px){
    .cabecalho{
        height: 125px;
    }
    .cabecalho__nome{
        font-size: 32pt;
    }
    .conteudo__imagem{
        width: 225px;
        height: 225px;
        margin: auto;
    }
    .conteudo{
        padding-top: 150px;
    }
    .conteudo__escrito{
        width: 85%;
        margin: auto;
    }
    .conteudo__titulo{
        font-size: 22pt;
        width: 100%;
    }
    .conteudo__descricao{
        font-size: 16pt;
    }
    .conteudo__form___botao{
        width: 80%;
    }
    .servicos__titulo{
        text-align: center;
    }
    .servico__descricao{
        display: none;
    }
    .servicos__lista__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .servico{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }
    .servico__modelo{
        text-align: center;
    }
    .conteudo_ritmo___descricao{
        width: 80%;
    }
    .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature__image img{
        width: 430px;
        height: 300px;
    }
    .feature__info{
        width: 100%;
    }
    .parcerias img{
        width: 80px;
        height: 30px;
    }
    .conteudo__finalizacao{
        width: 90%;
    }
    .footer__conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer{
        height: 1100px;
    }
}
/*768 px*/
@media screen and (max-width: 768px){
    .pagina{
        width: 90%;
        margin: auto;
    }
    .conteudo__imagem{
        width: 200px;
        height: 200px;
        margin: auto;
    }
    .conteudo__escrito{
        width: 90%;
    }
    .conteudo__titulo{
        transform: scale(0.8);
        font-size: 34pt;
        width: 100%;
    }
    .conteudo__form___email{
        width: 70%;
    }
    .conteudo__form___botao{
        width: 70%
    }
    .feature {
        display: flex;
        flex-direction: column;
    }
    .feature2{
        display: flex;
        flex-direction: column-reverse;
    }
    .servicos__lista__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;

    }
    .servico__icon{
        width: 75px;
        height: 75px;
    }
    .servico{
        width: 90%;
    }
    .conteudo__features{
        gap: 50px;
    }
    
    .footer__conteudo___lista1{
        row-gap: 10px;
    }
    .footer{
        height: 500px;
    }
    .footer__conteudo{
        display: flex;
        flex-direction: row-reverse;
    }
    .footer__conteudo__titulo{
        text-align: center;
    }
    .footer__conteudo__titulo.favinov{
        text-align: center;
    }
    .footer__conteudo___lista2 a{
        text-align: center;
    }
}
/*1024px*/
@media screen and (max-width: 1024px){
    .conteudo__form___botao{
        width: 77%;
    }
    .footer__conteudo{
        justify-content: space-between;
    }
    .footer__conteudo___lista1{
        row-gap: 15px;
        
    }
    .footer__conteudo___secundario{
        margin-right: 0px;
    }
    .feature__info___descricao{
        width: 80%;
    }
    .feature__botao{
        width: 75%;
    }
    .parcerias{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
    }
    .parceiro{
        margin: auto;
    }
    .finalizacao__botao{
        width: 40%;
    }
}